<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <client />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingRed" />
        <binding name="BasicHttpsBindingRed">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpEndpointBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpsBinding>
        <binding name="ABasicHttpsBinding_IRedPill">
          <security mode="Transport" />
        </binding>
      </basicHttpsBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="ReadifyTest.RedPill">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingRed"
          name="BasicHttpBinding_IRedPill" contract="ReadifyTest.IRedPill" />

        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ABasicHttpsBinding_IRedPill"
          name="BasicHttpsBinding_IRedPill" contract="ReadifyTest.IRedPill" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true " />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
